@import url("node_modules/modern-normalize/modern-normalize.css");

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

div {
  text-align: center;
}

body {
  background-color: lightblue;
}

button {
  height: 48px;
  padding: 0 30px;
  background-color: cadetblue;
  width: 200px;
  align-self: center;
}
